# App
NODE_ENV=development
PORT=3000

# Auth
AUTH_PROVIDER=jwt
JWT_SECRET=changeme

# FHIR
# For local docker compose, point to the hapifhir service
FHIR_PROVIDER=hapi
FHIR_BASE_URL=http://hapifhir:8080/fhir

# AWS (optional)
AWS_REGION=us-east-1
S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# Cognito (only if AUTH_PROVIDER=cognito)
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=
COGNITO_AUDIENCE=
